.mycolor {
  color: rgb(128, 0, 0) !important;
}
.myothercolor {
  color: rgb(26, 25, 25);
}

.mybackgroundcolor {
  background-color: rgb(128, 0, 0) !important;
}

.test {
  text-decoration: underline;
}
